[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/async"]
	path = site-lisp/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "site-lisp/paket.el"]
	path = site-lisp/paket.el
	url = https://github.com/zzdtri/paket.el.git
