*~
/network-security.data
*.eld
/abbrev_defs
/elpa
/smex-items
/ac-comphist.dat
/url
/recentf
/flycheck_init.el
/bookmarks.bmk
/private/savehist*
/eshell/history
/private/abbrev_defs
/.mc-lists.el
/tramp
/private/bookmarks.txt
